body {
    font-family: "Cairo", sans-serif;
    direction: rtl;
    margin: 0;
    background-color: #08ba7fd9;
    color: #fff;
    text-align: center;
     margin: 0;
    font-family: Arial;
    background: #111;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: red;
    padding: 10px;
}

nav a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

nav a:hover img {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 10px 20px rgba(179, 158, 158, 0.4);
}

nav a:active img {
    transform: scale(0.95);
}

.news-bar {
    width: 100%;
    height: 45px;
    background: linear-gradient(90deg, #000, #111, #000);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ff0000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}


.news-track {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    animation: ticker 18s linear infinite;
}


.news-track span {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 25px;
    text-shadow: 0 0 5px rgba(0, 225, 255, 0);
}


.sep-icon {
    width: 24px;
    height: 24px;
    margin: 0 15px;
    object-fit: contain;
    border-radius: 100px;
    opacity: 0.9;
}
 span {
         font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }

@keyframes ticker {
    from {
        transform: translateX(90%);
    }
    to {
        transform: translateX(-100%);
    }
}


.news-bar:hover .news-track {
    animation-play-state: paused;
}

@media (max-width: 600px) {
    .news-track span {
        font-size: 15px;
        padding: 0 18px;
    }

    .sep-icon {
        width: 20px;
        height: 20px;
    }
}



h2 {
    margin-top: 25px;
    font-size: 32px;
    letter-spacing: 2px;
     font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p
{
     font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.gallery {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    padding: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.car-card {
    width: 280px; 
    padding: 20px; 
    border-radius: 20px; 
    background: rgba(11, 6, 6, 0.48);
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
    overflow: hidden;
}

.car-card:hover {
    transform: scale(1.08) translateY(-5px); 
    box-shadow: 0 0 30px #ff2a00, 0 0 50px rgba(0, 255, 255, 0.3);
    background: rgba(11, 6, 6, 0.6);
}

.car-card img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.car-card:hover img {
    transform: scale(1.05);
}

.car-price {
    margin-top: 12px;
    font-weight: bold;
    font-size: 20px; 
    color: #ebf1f2;
    text-shadow: 0 0 5px #181b1b;
}


.back-btn {
    display: inline-block;
    padding: 10px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.back-btn:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

.back-btn:active {
    transform: scale(0.95);
}
footer {
    background: #ff0202;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s;
}

footer .footer-links a:hover {
    color: #000000;
}

.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-links a {
    font-size: 30px;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    color: #000000;
    transform: scale(1.2);
}


.slider {
    width: 100%;           
    max-width: 1200px;      
    height: 600px;          
    margin: 40px auto;      
    border-radius: 25px;   
    overflow: hidden;       
    box-shadow: 0 20px 50px rgba(0,0,0,0.8); 
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    opacity: 1;             
    transform: scale(1);    
    transition: 
        opacity 1s ease-in-out,
        transform 1.2s ease-in-out;
}

.slider img.hide {
    opacity: 0;
    transform: scale(1.08); 
    filter: blur(1px);      
}
